/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Montserrat;
}
/* css base */

@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-bold;
  src: url(/fonts/Montserrat-Bold.ttf);
}

:root {
  --primary-color-gradient: linear-gradient(
    90deg,
    rgba(223, 73, 121, 1) 44%,
    rgba(227, 107, 49, 1) 50%
  );
  --primary-color-gradient-1: linear-gradient(
    90deg,
    rgba(223, 73, 121, 1) 44%,
    rgba(227, 107, 49, 1) 50%
  );
  --secondary-color: #d44145;
  --text-color: #8d979e;
}

ul {
  list-style-type: none;
}
body {
  position: relative;
}
/* 
bỏ các thuộc tính mặc định trong carousel của bstrap */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  background-repeat: repeat-x;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.carousel-control.left {
  background-image: none;
  left: 0;
  background-color: transparent;
}

.carousel-control.right {
  background-image: none;
  right: 0;
  background-color: transparent;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  width: 100%;
  display: block;
}

/* bootstrap */
.custom-btn {
  width: 300px;
  height: 50px;
  color: #ffff;
  background: var(--primary-color-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-family: Montserrat;
}
.custom-btn-small {
  width: 200px;
}
.custom-btn-play {
  width: 250px;
  background: none;
  justify-content: space-around;
  align-items: center;
}
.custom-btn-play p:hover {
  color: #d44145;
}
/* start css */
.custom-container {
  width: 90%;
  height: 178rem;
  margin: 0 auto;
}
.custom-navbar {
  width: 100%;
  height: 100px;
  display: flex;
  border-top: solid 1px #edf0f5;
}

.custom-brand {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.custom-navbar-menu {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.custom-navbar-list {
  display: flex;
}
.custom-navbar-list li {
  font-size: 22px;
  font-family: Montserrat;
  margin-right: 40px;
  cursor: pointer;
  font-weight: 600;
}
.custom-navbar-list li a {
  color: black;
  text-decoration: none;
}

.custom-navbar-list li:first-child {
  color: var(--secondary-color);
}

.custom-authentic {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}
.custom-search {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}
#search-input {
  display: none; /* Ẩn input search ban đầu */
}

.custom-search.active #search-input {
  display: block; /* Hiện input search khi active */
}

.material-symbols-outlined {
  color: var(--secondary-color);
  font-size: 40px;
  cursor: pointer;
}
.custom-login {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 600;
}
.custom-login p {
  margin-left: 20px;
  cursor: pointer;
}
/* slide-show */

.custom-slide-show {
  margin-top: 10px;
  width: 100%;
  height: 55.5rem;
  background-color: rgb(237, 240, 246);
  position: absolute;
  right: 0;
  left: 0;
}
.custom-slide-show-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.custom-slide-text {
  width: 50%;
  height: 100%;
  padding-top: 100px;
}

.custom-slide-text h1 {
  margin: 20px 0;
  font-size: 60px;
  font-family: Montserrat-bold;
  font-weight: 800;
  letter-spacing: 1px;
}
.custom-slide-text p {
  font-size: 18px;
  color: var(--text-color);
  letter-spacing: 1px;
}

.custom-container-btn {
  margin-top: 40px;
  width: 63%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.custom-btn-play p {
  color: #333;
}
.custom-slide {
  width: 50%;
  height: 100%;
}
.custom-slide img {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  /* width: 550px; */
}

/* service */
.custom-service-container {
  margin-top: 58rem;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.custom-service-components {
  width: 500px;
  height: 200px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}
.custom-service-components img {
  display: block;
  width: 80px;
  object-fit: contain;
  transition: ease-in-out 0.5s;
}

.custom-service-components:hover img {
  transform: translateY(-30px); /* Dịch hình ảnh lên trên 30px khi hover */
}
.custom-service-text {
  width: 380px;
  height: 100%;
  font-family: Montserrat;
}
.custom-service-title {
  margin-top: 55px;
  font-size: 24px;
  margin-bottom: 10px;
}
.custom-service-text p {
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: 13px;
}
.custom-service-components:hover .custom-service-title {
  color: #d44145; /* Đổi màu text của .service-title khi hover */
}

/* widget-content */
.custom-widget-content {
  width: 100%;
  height: 340px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
/* products */
.custom-products-container {
  width: 100%;
  height: 1000px;
  margin-top: 100px;
}
.custom-products-container h1 {
  text-align: center;
  font-family: Montserrat-bold;
  font-size: 40px;
}

.container-tab {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
}

.btn-tab {
  width: 150px;
  margin-right: 20px;
  border: solid 1px;
}
.tab {
  width: 100%;
  height: 680px;
  margin-top: 50px;
  display: flex;
}
.custom-card {
  width: 250px;
  height: 300px;
}

.top-card {
  width: 100%;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-card img {
  display: block;
  object-fit: contain;
  height: 80%;
  width: 100%;
  position: absolute;
  margin: 0 auto;
}

.bottom-card {
  width: 100%;
  height: 50px;
  text-align: center;
}

/* CSS */
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.price {
  color: #d44145;
}

.custom-card {
  margin: 20px; /* Khoảng cách giữa các card */
  border: 1px solid #ccc; /* Đường viền của card */
  box-sizing: border-box; /* Đảm bảo kích thước của card tính cả đường viền */
}

/* detail products */
.detail-product-container {
  margin-top: 80px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
.desc-product {
  width: 60%;
  height: 100%;
  padding-right: 20px;
  position: relative;
}
.desc-product .name {
  font-size: 30px;
  text-align: right;
  margin-bottom: 10px;
}
.product-imgs-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: solid 1px #ccc;
  align-items: center;
}
.product-imgs-container img {
  width: 80%;
  object-fit: contain;
}

.desc {
  margin-top: 50px;
  width: 80%;
  right: 20px;
  font-family: Montserrat;
  text-align: justify;
  line-height: 30px;
  position: absolute;
}
.rating-detail {
  position: absolute;
  right: 20px;
}
.addToCart {
  bottom: 120px;
  right: 20px;
  width: 200px;
  height: 50px;
  background: var(--primary-color-gradient);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
}

/* about */
.about-container {
  width: 100%;
  height: 600px;
  display: flex;
}
.about-img {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-holder-img {
  width: 48%;
  height: 46%;
  cursor: pointer;
}
.about-holder-img img {
  display: block;
  width: 95%;
  height: 95%;
  object-fit: contain;
}

.about-text {
  width: 50%;
  height: 100%;
  position: relative;
}
.about-text .custom-btn {
  position: absolute;
  right: 0;
}
.about-text h1 {
  margin-top: 100px;
  text-align: right;
}
.about-text p {
  display: block;
  width: 80%;
  margin-top: 20px;
  position: absolute;
  right: 0;
}
.counters {
  margin-top: 200px;
  width: 100%;
  height: 100px;
}
.counters-items {
  width: 30%;
  height: 70%;
  border-right: solid 1px;
  text-align: right;
  padding-right: 30px;
}
.counters-items:last-child {
  border: none;
}

.review-container {
  width: 100%;
  height: 700px;
  background-color: rgb(237, 240, 246);
  margin-top: 80px;
  position: absolute;
  left: 0;
}
/* review */

.review {
  padding-top: 50px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.btn-review {
  margin: 0 auto;
}
.review h1 {
  margin-top: 20px;
  text-align: center;
}
.review-detail-container {
  margin-top: 50px;
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: space-between;
}
.review-detail {
  width: 30%;
  height: 100%;
}
.card-review {
  width: 100%;
  height: 280px;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 40px;
  border: solid 1px;
}
.card-review-top {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
}

.components-rating {
  width: 120px;
  height: 60px;
  margin-right: 20px;
}
.name-card {
  font-weight: 700;
}

.review-left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card-mid {
  height: 200px;
  margin-bottom: 40px;
}

.card-right {
  height: 440px;
}

/* footer */
.footer {
  margin-top: 800px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 400px;
  background: var(--primary-color-gradient);
}
.container-ft {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
